* {
  font-family: 'Righteous', cursive;
}


body {
<<<<<<< HEAD
  background-color: #FFD166;
=======
  background-color: #EEEBD0;
>>>>>>> 6a53076d65f2487860919d336294952b0f796f79
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-options {
  text-align: center;
  padding: 40px;
}

.index-logo {
  text-align: center;
  margin-top: 200px;
}

.index-logo > img{
  width: 300px;
  margin-bottom: -50px;
}

.index-options > div {
  padding-top: 0px;
  padding-bottom: 10px;
}

.anon-btn {
  background-color: #E87EA1;
  color: white;
  padding: 15px;
  border-radius: 3%;
}

.login-btn {
  background-color: #E87EA1;
  color: white;
  padding: 15px;
  border-radius: 3%;
}

.hide{
  display: none;
}

.grid{
  display: grid;
}

.index-options > a{
  padding-top: 20px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}


.main-profile {
  text-align: center;
  margin-top: 15vh;
}

.game-body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

}

#questions-container {
<<<<<<< HEAD
  width: 800px;
  max-width: 80%;
  background-color: #ebb3a9;
  border-radius: 5px;
=======

>>>>>>> 6a53076d65f2487860919d336294952b0f796f79
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  padding: 30px 5vw;

}

#questions-prompt {
  font-size: 2.5em;
}

.btn-grid {
  padding-top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 60vw;
  justify-content: center;
}

.btn {
  border: 1px rgb(77, 77, 77) solid;
  font-size: 1.5em;
  background-color: #EBB3A9;
  padding: 15px 0px;
  box-shadow: 0 1px 1px 1px;
  margin: 0px 20px;
}

.btn-answr {
  background-color: #e86252;
}

.btn:hover {
  box-shadow: 0 1px 3px 2px;
  margin: 0px -10px;
  font-size: 1.6em;
}

.bg-dark {
  background-color:rgb(37, 37, 37) !important;
}

.text-dark {
  color: black !important;
}


.bg-primary {
  background-color: #118ab2 !important;
}

.bg-warning {
  background-color: #06d6a0 !important;
}

.btn-warning {
  background-color: #06d6a0 !important;
  border-color: #06d6a0 !important;
}

#counter-container {
  height: 100vh;
  width: 100vw;
  grid-template-rows: 35vh 15vh 15vh 35vh;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
}

#counter-container > p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 72pt;
  font-family: 'Righteous', cursive;
}

#count {
  grid-row: 2;
}

#seconds {
  grid-row: 3;
}

.logo {
  width: 80px;
  padding: 0;
  margin-bottom: -20px;
}

.navbar-toggler {
  font-size: 2rem;
}

#message {
  font-size: 3EM;
}

#name-button {
  background-color:#E87EA1;
  color: white;
  border: 1px solid grey;
  box-shadow: 0 0 10px 2px;
  padding: 10px 20px;
}

#my-form {
  font-size: 1.5em;
}

#invite-friends-btn {
  background-color:#E87EA1;
  color: white;
  border: 1px solid grey;
  box-shadow: 0 0 10px 2px;
  padding: 10px 20px;
  font-size: 1.5em;
}

#main-page-invite {
  text-align: center;
  margin-top: 30px;
}

#score {
  font-size: 2em;
  padding-top: 20px;
  padding-left: 40px;
  color: #242424;
}

#timer {
  float: right;
  margin-right: 40px;
  margin-top: -1.3em;
  font-size: 2em;
}