* {
  font-family: 'Righteous', cursive;
}


body {
  background-color: #EEEBD0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-options {
  text-align: center;
  padding: 40px;
}

.index-logo {
  text-align: center;
  margin-top: 200px;
}

.index-logo>img {
  width: 300px;
  margin-bottom: -80px;
}

.index-options>div {
  padding-top: 0px;
  padding-bottom: 10px;
}

.anon-btn {
  background-color: #E87EA1;
  color: white;
  padding: 15px;
  border-radius: 3%;
}

#login-btn {
  background-color: #E87EA1;
  color: white;
  padding: 15px;
  border-radius: 3%;
  border: 0;
}

#signup-btn {
  background-color: #E87EA1;
  color: white;
  padding: 15px;
  border-radius: 3%;
  border: 0;
}

#logout-btn {
  color: white;

}

.hide {
  display: none;
}

.grid {
  display: grid;
}

.index-options>a {
  padding-top: 20px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}


.main-profile {
  text-align: center;
  margin-top: 15vh;
}

.game-body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

}

#questions-container {

  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  padding: 30px 5vw;

}

#questions-prompt {
  font-size: 2em;
}

.btn-grid {
  padding-top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 70vw;
  justify-content: center;
}

.btn {
  border: 1px rgb(77, 77, 77) solid;
  font-size: 1.4em;
  background-color: #EBB3A9;
  padding: 15px 0px;
  box-shadow: 0 1px 1px 1px;
  margin: 0px 20px;
}

.btn:hover {
  box-shadow: 0 1px 3px 2px;
  margin: 1px;
  font-size: 1.6em;
}

.bg-dark {
  background-color: rgb(37, 37, 37) !important;
}

.text-dark {
  color: black !important;
}


.bg-primary {
  background-color: #118ab2;
}

.bg-warning {
  background-color: #06d6a0 !important;
}

#counter-container {
  height: 100vh;
  width: 100vw;
  grid-template-rows: 35vh 15vh 15vh 35vh;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
}

#counter-container>p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5vw;
  font-family: 'Righteous', cursive;
}

#count {
  grid-row: 2;
}

#seconds {
  grid-row: 3;
}

.logo {
  width: 80px;
  padding: 0;
  margin-bottom: -20px;
}

.navbar-toggler {
  font-size: 2rem;
}

#message {
  font-size: 3EM;
}

#name-button {
  background-color: #E87EA1;
  color: white;
  border: 1px solid grey;
  box-shadow: 0 0 10px 2px;
  padding: 10px 20px;
}

#my-form {
  font-size: 1.5em;
}

#invite-friends-btn {
  background-color: #E87EA1;
  color: white;
  border: 1px solid grey;
  box-shadow: 0 0 10px 2px;
  padding: 10px 20px;
  font-size: 1.5em;
}

#main-page-invite {
  text-align: center;
  margin-top: 30px;
}

#score {
  font-size: 2em;
  padding-top: 20px;
  padding-left: 40px;
  color: #242424;
}

#timer {
  padding-left: 40px;
  font-size: 2em;
}

#textEmail {
  width: 250px;
  border: 1px solid #E87EA1;
  margin-bottom: 5px;
}

#textPassword {
  width: 250px;
  border: 1px solid #E87EA1;
}

.thought {
  background-color: #E87EA1;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thought:before,
.thought:after {
  content: "";
  background-color:#E87EA1;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}

.thought:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px #E87EA1;
}

.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0#E87EA1,
    -28px -6px 0 -2px#E87EA1,
    -24px 17px 0 -6px #E87EA1,
    -5px 25px 0 -10px#E87EA1;

}
#answer-result{
  margin-top: 75px;
  font-size: 2em;
}

@media screen and (max-width: 700px) {
  .btn {
    font-size: 0.9em;
    padding: 6px;
  }

  .btn:hover {

  }

  #questions-prompt{
    font-size: 1.15em;
  }

  #score {
    font-size: 1em;
  }

  #timer {
    font-size: 1em;
  }

  #answer-result{
    font-size: 1em;
  }

  .logo {
    width: 60px;
    padding: 0;
  }

  .nav-item {
    font-size: 14px;
  }

  .navbar-toggler-icon {
    width: 0.8em;
    height: 0.8em;

  }
}